.home-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  overflow: hidden;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  z-index: 10;
  gap: 40px;
}

/* LEFT SIDE */
.home-header {
  flex: 1.3;
  padding-top: 100px;
}

.location-badge {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 600;
  background: rgba(208, 131, 160, 0.1);
  padding: 5px 12px;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 1px solid rgba(208, 131, 160, 0.2);
}

.greeting {
  font-size: 1.7rem;
  color: #c5c5c5;
  font-weight: 500;
  margin-bottom: 10px;
}

.hero-title-large {
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 900;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.stroke-text {
  color: transparent;
  -webkit-text-stroke: 2px #D083A0;
}

/* Subtitle */
/* .hero-subtitle {
  font-size: 2rem;
  color: #94a3b8;
  font-weight: 300;
  margin-bottom: 25px;
} */

/* RIGHT SIDE */
.home-cloud-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Wave Animation */
.wave {
  display: inline-block;
  animation: wave-anim 2s infinite;
  transform-origin: 70% 70%;
}
@keyframes wave-anim {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

/* RESPONSIVE */
@media (max-width: 968px) {
  .home-content {
    flex-direction: column-reverse;
    text-align: center;
    gap: 40px;
  }
  .home-header { 
    padding-right: 0;
    padding-top: 30px;
  }
  .hero-title-large { font-size: 3.5rem; }
  .hero-subtitle { font-size: 1.5rem; }
}