.footer-section {
  padding: 40px 20px 120px 20px; 
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

.footer-mini-title {
  font-size: 1.5rem;
  color: #9499a0;
  font-weight: 700;
  margin: 0;
  align-self: flex-start; 
  margin-bottom: 40px;
  padding-left: 10%;
}

.footer-content-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading-center {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-main-title {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

.contact-text {
  font-size: 1.2rem;
  color: #d1d5db;
  line-height: 1.6;
  max-width: 500px;
}

.highlight-link {
  color: #D083A0;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s;
}

.highlight-link:hover {
  color: #d083a1ab;
}

/* --- LIGHT MODE SUPPORT --- */
body.light-mode .highlight-link:hover {
  color: #b16c87;
}

body.light-mode .contact-text {
  color: #000000;
}

@media (max-width: 768px) {
  .footer-mini-title {
    padding-left: 10px;
    font-size: 1.2rem;
  }
  .footer-main-title {
    font-size: 2rem;
  }
}