.skills-section {
    padding: 80px 20px;
}

.skiils-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 40px;
}

.text-primary {
    color: #D083A0;
}

.tech-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.tech-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid rgba(208, 131, 160, 0.5);
    cursor: pointer;
    transition: all 0.1s ease;
}

.tech-icon {
    font-size: 1.5rem;
    display: flex;
}

.tech-name {
    font-size: 1.1rem;
    font-weight: 500;
}

/* Hover Effect */
.tech-card:hover {
    transform: scale(1.03);
}

/* Responsive */
@media (max-width: 768px) {
    .skills-section {
        padding: 50px 0px;
    }
    .section-title {
        font-size: 1.5em;
    }
    .tech-grid { gap: 27px; }

    .tech-card {
        padding: 8px 20px;
    }

    .tech-icon {
        font-size: 1.3rem;
    }

    .tech-name {
        font-size: 0.9rem;
    }
}